*.dcu
*.local
Packages/FMXContainer_Designtime_X10Seattle.res
Packages/FMXContainer_Designtime_X10Seattle.stat
Packages/FMXContainer_Runtime_X10Seattle.res
Packages/FMXContainer_Runtime_X10Seattle.stat
Packages/FMXContainer_Designtime_XE4.res
Packages/FMXContainer_Runtime_XE4.res
__history/
